@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.quickview {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: calc( 100% - 50px);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  transform: translateZ(0);
  transition: .3s ease;
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
}

@media screen and (max-width: 768px) {
  .quickview {
    width: 100%;
    right: -100%;
  }
}

@media screen and (min-width: 769px), print {
  .quickview {
    width: 50%;
    right: -50%;
  }
}

@media screen and (min-width: 1024px) {
  .quickview {
    width: 35%;
    right: -35%;
  }
}

@media screen and (min-width: 1216px) {
  .quickview {
    width: 30%;
    right: -30%;
  }
}

@media screen and (min-width: 1408px) {
  .quickview {
    width: 25%;
    right: -25%;
  }
}

@media screen and (max-width: 768px) {
  .quickview.is-left {
    left: -100%;
  }
}

@media screen and (min-width: 769px), print {
  .quickview.is-left {
    left: -50%;
  }
}

@media screen and (min-width: 1024px) {
  .quickview.is-left {
    left: -35%;
  }
}

@media screen and (min-width: 1216px) {
  .quickview.is-left {
    left: -30%;
  }
}

@media screen and (min-width: 1408px) {
  .quickview.is-left {
    left: -25%;
  }
}

.quickview.is-active {
  right: 0;
  box-shadow: 5px 0px 13px 3px rgba(0, 0, 0, 0.1);
}

.quickview.is-active.is-left {
  left: 0;
}

.quickview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-height: 64px !important;
  border-bottom: 1px solid #dbdbdb;
}

.quickview-header .title {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
}

.quickview-body {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  overflow-y: auto;
}

.quickview-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
  background-color: whitesmoke;
  border-top: 1px solid #dbdbdb;
}

.quickview-footer > * {
  margin: 0 .4rem;
}
